* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
    }
   
   body {
    background-color: #ffff;
   }

   .name {
    float: left;
    color: azure;
    display: block;
    flex-direction: row;
    padding-top: 12px;
    padding-left: 80px;
    justify-content: center;
    font-size: 40px;
    font-family:Verdana, sans-serif ;
   }

   .wrapper{
    overflow: hidden;
    background-color: #333;
    top: 0; 
    width: 100%;
    height: 10%;
   }

   .wrapper a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 25px;
   }
   
   .wrapper a:hover{
    color: #b1b1b1;
   }
   .title{
    font-size:xx-large;
    padding-left: 50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   #banner-img{
     background-image: url(Banner3.jpg);
     padding: 150px;
     
   }

   .content-wrapper{
    padding: 50px;
    background-color: rgb(1, 67, 29); 
   }

   .content-box{
    background-color:rgba(255, 246, 234, 0.95);
    padding: 5px 1px 9px 1px ;
    text-align: center;
    margin: 10px 20px;
    border-radius:100px;
    opacity: 95%;
   }

   .content-box h1{
    font-size: 70px;
  }

  .content-box p{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 30px;
  }

   img{            
    width: 100%;
    height: 90%;
   }
   
  .footer-wrapper{
    background-color: #333;
    padding: 6px;
  } 
  .footer-content{
    padding: 5px;
    justify-content: center;
    display: block;
  }

  .footer-content h1{
    margin-left:50px;
    color:rgba(175, 173, 170, 0.95);
    text-align: center;
    font-size: 50px;
  }
  
 .material-icons{
  justify-items: center;
  justify-content: center;
 }

.footer-content h3{
  color: #effde7;
  display: inline-flex;
  position: absolute;
  padding-left: 10px;
  font-size: 30px;
  text-align: center;
}