/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

header {
  background-color: #fff;
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img{
  border-radius: 4rem;
  display: grid;
  width: 10%;
  height: 2%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.post {
  margin-left: 770px;
  display: grid;
  overflow: hidden;
}


.post img {
  object-fit: fill;
  border-radius: 1.5rem;
  width:auto;
  height: auto;
  display:grid;
}

.post-details {
  padding: 10px;
}

.post-details h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer {
  display: block;
  text-align: center;
  padding: 40px;
  background-color: rgb(44, 44, 44);
  color: white;
}
