* { /* Reset CSS */
  box-sizing: border-box;
  margin: 1px;
  padding-left: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  
}

header {
  background-color: #fff;
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  padding: 40px;
  width: 15%;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 10px 20px 10px 30px;
  margin-left: 100px;
}

.post {
  margin-bottom: 80px;
  background-color: #fff;
  border: 8px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.post img {
  object-fit: fill;
  width:auto;
  height: auto;
  display:grid;
}

.post-details {
  padding: 10px;
}

.post-details h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
